#gamesList {
  ul.glst {
    li {
      cursor : pointer;
      padding: 8px
    }
  }
}

.gameName {
  width: 100px;
  display: inline-block;
}

#userList {
  ul.readyList {
    li.ready {
      color:green;
    }
    li.not-ready {
      color:red;
    }
  }
}
