@(message: String)

@main("Bomber") {

<div class="row">
  <div class="span8 offset2">
    <h1>Bomber</h1>
    <div class="well"></div>
    <form class="form-inline" id="join-game">
      <span class="control-group" id="playerNameHolder">
        <input type="text" placeholder="Your name..." name="userId"/>
      </span>
      <span class="control-group" id="gameNameHolder">
        <input type="text" placeholder="Game name..." name="gameName"/>
      </span>
      <button class="btn btn-primary">Join</button>
    </form>
  </div>
</div>
}
